<!DOCTYPE html>
<html>
  <head>
    <title>HelloRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex w-screen h-screen">
      <%# Side bar %>
      <div class="flex-initial w-60 h-screen">
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
          </svg>
        </button>
        <aside id="default-sidebar" class="fixed w-60 h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
          <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
            <%= link_to root_path, class: "flex items-center pl-2.5 mb-5" do %>
              <i class="px-3 dark:text-white fa-brands fa-octopus-deploy fa-2xl"></i>
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">TAKO MAP</span>
            <% end %>
            <ul class="space-y-2 font-medium">
              <li>
                <%= link_to "#", class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
                  <i class="fa-solid fa-chart-area fa-lg"></i>
                  <span class="ml-5">Dashboard</span>
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
                  <i class="fa-solid fa-border-all fa-lg"></i>
                  <span class="flex-1 ml-5 whitespace-nowrap">Kanban</span>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
                  <i class="fa-solid fa-user fa-lg"></i>
                  <span class="flex-1 ml-5 whitespace-nowrap">User</span>
                <% end %>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <%# /Side bar %>
      <div class="flex-1 flex-col w-full h-screen">
        <%# Navigation bar %>
        <div class="flex-1 w-full">
          <nav class="h-full bg-white border-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
              <%= link_to root_path, class: "flex items-center" do %>
                <i class="px-3 dark:text-white fa-brands fa-octopus-deploy fa-2xl"></i>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TAKO MAP</span>
              <% end %>
              <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
              </button>
              <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                  <li>
                    <%= link_to "Home", root_path, class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" %>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <%# /Navigation bar %>
        <%# main %>
        <div class="flex-1 bg-white dark:bg-gray-700">
          <main class="flex flex-wrap flex-col w-ful p-6">
            <p style="color: green"><%= notice %></p>
            <%= yield %>
          </main>
        </div>
        <%# /main %>
        <%# Footer %>
        <div class="flex-1 w-full">
          <footer class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
              <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                  <%= link_to root_path, class: "flex items-center" do %>
                    <i class="px-3 dark:text-white fa-brands fa-octopus-deploy fa-2xl"></i>
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TAKO MAP</span>
                  </a>
                <% end %>
              </div>
              <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                      <a href="https://flowbite.com/" class="hover:underline">Flowbite</a>
                    </li>
                    <li>
                      <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                      <%= link_to "GitHub", "https://github.com/tako919191", class: "hover:underline"%>
                    </li>
                    <li>
                      <%= link_to "Slack", "#", class: "hover:underline"%>
                    </li>
                  </ul>
                </div>
                <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                      <a href="#" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
              <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <%= link_to "tako919191", "https://github.com/tako919191" %>. All Rights Reserved.
              </span>
              <div class="flex mt-4 space-x-5 sm:justify-center sm:mt-0">
                <%= link_to "#", class: "text-gray-500 hover:text-gray-900 dark:hover:text-white" do %>
                  <i class="fa-brands fa-slack"></i>
                  <span class="sr-only">Slack community</span>
                <% end %>
                <%= link_to "#", class: "text-gray-500 hover:text-gray-900 dark:hover:text-white" do %>
                  <i class="fa-brands fa-twitter"></i>
                  <span class="sr-only">Twitter page</span>
                <% end %>
                <%= link_to "https://github.com/tako919191/", class: "text-gray-500 hover:text-gray-900 dark:hover:text-white" do %>
                  <i class="fa-brands fa-github"></i>
                  <span class="sr-only">GitHub account</span>
                <% end %>
                <%= link_to "#", class: "text-gray-500 hover:text-gray-900 dark:hover:text-white" do %>
                  <i class="fa-solid fa-globe"></i>
                  <span class="sr-only">Dribbble account</span>
                <% end %>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <%# /Footer %>
    </div>
  </div>
</body>
</html>
